pip install fastapi
pip install pydantic
pip install transformers
pip install torch
pip install bs4
pip install langchain
pip install langchain-community
pip install faiss-cpu
pip install sentence-transformers
pip install scikit-learn
pip install streamlit
pip install "python-jose[cryptography]" "passlib[bcrypt]" python-multipart
pip install pyodbc

